<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns         = "http://www.springframework.org/schema/beans"
xmlns:xsi     = "http://www.w3.org/2001/XMLSchema-instance"
xmlns:context = "http://www.springframework.org/schema/context"
xmlns:tx      = "http://www.springframework.org/schema/tx"
xsi:schemaLocation= "  http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd ">

	<context:component-scan base-package="admin,student,teacher"/>

	<!--配置数据库参数-->
	<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true" />
	
	<!--数据源DRUID-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
	init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url"             value="${jdbc.url}" />
		<property name="username"        value="${jdbc.username}" />
		<property name="password"        value="${jdbc.password}" />
	</bean>
	
	<!--配置sqlSessionFactory对象-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:mapper/*/*.xml" />

		<!--mybatis原生分页器-->
		<property name="plugins">
		    <array>
		        <bean class="com.github.pagehelper.PageInterceptor">
		            <property name="properties">
		                <value>
		                    helperDialect=mysql
		                    reasonable=true
		                </value>
		            </property>
		        </bean>
		    </array>
		</property>		         
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="admin.mapper,student.mapper,teacher.mapper" />
	</bean>

</beans>